<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<p th:text="'Name: ' + ${user.name}">Name</p>
<p th:text="'Last Name: ' + ${user.lastName}">Last Name</p>
<p th:text="'Username: ' + ${user.username}">Username</p>
<p th:text="'Roles: ' + ${user.getRolesToString()}">Roles</p>


<br>
<a th:href="@{/admin/}">Back to users list</a>
<br>
<a th:href="@{/logout}">Logout</a>
<br>

</body>
</html>



<!--<a th:href="@{/admin/{id}/edit(id=${user.id})}">Edit user!</a>-->

<!--<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">-->
<!--    <input type="submit" value="Delete!"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->




<!--<body>-->
<!--<p th:text="${user.getName()}">VALUE</p>-->
<!--<p th:text="${user.getId()}">VALUE</p>-->

<!--<a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit user!</a>-->

<!--<form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">-->
<!--    <input type="submit" value="Delete!"/>-->
<!--</form>-->
<!--</body>-->

